<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BrandSizeSearch</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav_bar">
    <nav class="navbar navbar-fixed-top" role="navigation">
      <ul>
        <li class="nav"><%= link_to "Home", "/"  %></li>
        <li class="nav"><%= link_to "Information", "/top/information"  %></li>
        <li class="nav"><%= link_to "Links", "/top/links"  %></li>
      </ul>
    </nav>
  </div>

  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>
  
  <%= yield %>
  <footer class="footer">
     <br>
     <p>Copyright &copy; 2014 6VOX CO.,LTD. All Rights Reserved.</p>
  </footer>
</body>
</html>
